.footer {
  font-size: 1rem;
  text-align: center;
  font-weight: 400;
  margin: 1.5rem 0;
  color: #0a3871;
}

.footer a {
  text-decoration: none;
  font-weight: 700;
}

.footer a:visited {
  color: #052051;
}